# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
dist
bin

# Ignore Kotlin plugin data
.kotlin

.env
.DS_Store

# Ignore test-related data
src/test/resources/data/
